# Common configuration for all platforms
build --enable_platform_specific_config

# Unix-specific configuration (Linux and macOS)
build:unix --spawn_strategy=sandboxed
build:unix --strategy=Genrule=sandboxed