# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Bazel
bazel-*
/bazel-out
/bazel-testlogs
/bazel-bin

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
dist/
*.egg-info/
*.egg

# C++
*.o
*.so
*.a
*.dll
*.exe
*.out

# IDE specific
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.xcodeproj/
